@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: $gray-900;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.code {
  font-family: "Roboto Mono", monspace;
  color: $success;
  background-color: $light;
  padding: 0px 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.fs-s {
  font-size: 14px;
}

.fs-xs {
  font-size: 12px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.rounded-xs {
  border-radius: 2px;
}

.pointer {
  cursor: pointer;
}

.list-group-item.active {
  border-color: $gray-400;
}

.border-gray-400 {
  border: 1px solid $gray-400;
}

.w-55 {
  width: 55%;
}

.w-20 {
  width: 20%;
}
