@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: $gray-900;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.code {
  font-family: "Roboto Mono", monspace;
  color: $success;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

fs-14 {
  font-size: 14px;
}
