<div
  class="modal fade"
  id="adminAddModal"
  tabindex="-1"
  aria-labelledby="adminAddModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-0">
      <div class="modal-header border-bottom-0 px-32 pt-32">
        <h3 class="fs-4 modal-title fw-bold">New Admin</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body px-32">
        <form action="admin.html" method="get">
          <section>
            <h4 class="fs-5 mb-3 fw-bold">Account</h4>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control border-0 bg-light rounded-xs px-3 py-3 text-dark"
                id="name"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control border-0 bg-light rounded-xs px-3 py-3 text-dark"
                id="email"
              />
            </div>
          </section>

          <hr class="my-4" />

          <section>
            <h4 class="fs-5 mb-3 fw-bold">Verification</h4>

            <div class="d-flex justify-content-between mb-3">
              <div class="d-flex">
                <span class="material-symbols-outlined text-danger me-2">
                  warning
                </span>
                <p class="fw-bold">Unverified</p>
              </div>
            </div>

            <button
              type="button"
              class="btn w-100 rounded-xs text-success border border-light-subtle"
            >
              Send Verification Mail
            </button>
          </section>

          <hr class="my-4" />

          <section>
            <h4 class="fs-5 mb-3 fw-bold">Access Level</h4>

            <select name="access" class="form-select border-dark rounded-xs">
              <option disabled selected>-Choose access level-</option>
              <option value="admin">Admin</option>
              <option value="viewer">Viewer</option>
              <option value="editor">Editor</option>
            </select>
          </section>

          <hr class="my-4" />

          <section>
            <h4 class="fs-5 mb-3 fw-bold">Custom Access</h4>

            <div class="form-check d-flex align-items-center">
              <input
                class="form-check-input"
                name="custom-access"
                type="checkbox"
                value="lecture"
                id="lecture"
              />
              <label class="form-check-label" for="lecture"> Lecture </label>
            </div>
            <div class="form-check d-flex align-items-center">
              <input
                class="form-check-input"
                name="custom-access"
                type="checkbox"
                value="coupon"
                id="coupon"
              />
              <label class="form-check-label" for="coupon"> Coupon </label>
            </div>

            <div class="form-check d-flex align-items-center">
              <input
                class="form-check-input"
                name="custom-access"
                type="checkbox"
                value="message"
                id="message"
              />
              <label class="form-check-label" for="message"> Message </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                name="custom-access"
                type="checkbox"
                value="setting"
                id="setting"
              />
              <label class="form-check-label" for="setting"> Setting </label>
            </div>

            <div class="form-check d-flex align-items-center">
              <input
                class="form-check-input align-middle"
                name="custom-access"
                type="checkbox"
                value="task-menu"
                id="task-menu"
              />
              <label class="form-check-label" for="task-menu">
                Task Menu
              </label>
            </div>
          </section>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button
          type="button"
          class="btn btn-outline-success px-32 py-2 rounded-xs"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-success fw-bold px-32 py-2 rounded-xs"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
