<aside class="navbar navbar-expand-lg navbar-light bg-light ms-0 ps-0 vh-100">
  <div class="container-fluid flex-column align-items-start">
    <div class="menu">
      <a class="navbar-brand pt-4" href="#">
        <img src="../assets/images/logo-ANSWER.svg" alt="logo" />
      </a>

      <div id="navbarNav pt-4">
        <ul class="navbar-nav d-flex flex-column">
          <li class="nav-item pd-4">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item pd-4">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item pd-4">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Disabled</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="user d-flex">
      <div class="pe-3">
        <img
          src="../assets/images/andychen.jpeg"
          alt="profile picture"
          class="rounded-circle object-fit-cover"
          width="48"
          height="48"
        />
      </div>
      <div>
        <h4>Andy Chan</h4>
        <p class="text-muted fs-14">andy0401@mail.com</p>
      </div>
    </div>
  </div>
</aside>
